.Dictionary h1 {
  font-size: 64px;
  color: white;
  text-align: center;
}

.Dictionary label {
  font-size: 24px;
  font-weight: bold;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
  padding: 22px;
  width: 100%;
}

.Dictionary .hint {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 456px) {
  .Dictionary h1 {
    font-size: 54px;
  }

  .Dictionary label {
    font-size: 16px;
  }

  .Dictionary input {
    font-size: 12px;
    margin-top: 5px;
    padding: 10px;
  }

  .Dictionary .hint {
    font-size: 10px;
    margin-top: 5px;
  }
}
