.Synonyms {
  font-size: 14px;
  margin: 30px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(29, 42, 87, 0.05);
}

.Synonyms span {
  font-weight: bold;
}
